* {
  font-family: "Open Sans", sans-serif;
  --color-4f89c1: #4f89c1;
  --color-5a5a5a: #5a5a5a;
  --color-8f8f8f: #8f8f8f;
  --color-eeeeee: #eeeeee;
  --color-c73943: #c73943;
}
body {
  width: 1300px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 5px 5px 0;
}
